@import "tailwindcss";

/* Google font */
body{
  font-family: "Lato", sans-serif;
}

/* Custom font */
@font-face {
  font-family: 'designer';
  src: url('./assets/fonts/Designer.otf') format('opentype');
}

.font-designer {
  font-family: 'designer', sans-serif;
}